<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2LS Ультра</title>
    <link type="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <img src="https://globalcio.ru/upload/iblock/372/372e68d5dfae738f280d7a06b1bf65d7.png" alt="logo" class="logo">
    <h1>Выберите, где хотите скопировать учетку</h1>
    <form action="/copy_user" method="post">
        <label for="choice">Выбор:</label>
        <select name="choice" id="choice">
            <option value="1">РНИС ТО</option>
            <option value="2">Автовокзал</option>
        </select><br><br>
        <label for="username">Логин пользователя:</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="new_username">Новый логин:</label>
        <input type="text" name="new_username" id="new_username"><br><br>
        <input type="submit" value="Скопировать">
    </form>
</body>
</html>
